<br>
<div class="container">
    <div class="row">
        <!-- Formulario de alta de producto-->
        <div class="col-12">
            <div class="card text-center">

                <div class="card-header">
                    Alta de Productos
                </div>

                <div class="card-body">

                    <form id="form" class="mb-5" method="POST">

                        <div>

                            <input class="form-control" type="text" id="title" name="title"
                                placeholder="Ingresar nombre del producto" required>
                        </div>
                        <div>
                            <label for="thumbnail"></label>

                            <input class="form-control" type="number" id="price" name="price"
                                placeholder="Ingresar precio" required>
                        </div>
                        <div>
                            <label for="thumbnail"></label>
                            <input class="form-control" type="text" id="thumbnail" name="thumbnail"
                                placeholder="Ingresar url de la imagen" required>
                        </div>
                        <hr>
                        <div>
                            <input class="btn btn-danger btn-block " type="submit" value="Guardar">
                        </div>
                    </form>
                </div>

            </div>
        </div>



    </div>